@model IEnumerable<teste_fiap.Models.Aluno>


@{
    ViewBag.Title = "Lista";
}




<h4> Filtro</h4>
@using (Html.BeginForm())
{
<div class="form-index">
    <div>RM: @Html.TextBox("SearchRM")</div>

    <div>Nome: @Html.TextBox("SearchNome")</div>

    <div>
        Segmento: @Html.DropDownList("SearchSegmento", new[]{
new SelectListItem { Value = "1", Text = "COPI: Colégio" },
new SelectListItem { Value = "2", Text = "FIAP: Graduação" },
new SelectListItem { Value = "3", Text = "FIAP: Pós-Graduação" }
}, "")
    </div>
    <div>
        <input type="submit" value="Pesquisar" />
    </div>

</div>
}

<p class="cadastro">
    @Html.ActionLink("Cadastrar Novo aluno", "Create")
</p>

<table class="table">


    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

        <th>
            Segmento
        </th>
        <th>
            Curso
        </th>
        <th>
            Operações
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Segmento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>

            <td>
                <a class="details" data-id="@item.Codigo">Visualizar</a> | 
                <a class="delete" data-id="@item.Codigo">Deletar</a>
            </td>
        </tr>
    }

</table>
<hr />
<footer>
    <p>&copy; FIAP - Faculdade de Informática e Administração Paulista</p>
</footer>


<div id="modal" class="modal fade" role="dialog" />
@section scripts{
   
    <script>
         $(document).ready(function () {
             if (teste = window.location.search.substring(1)){
                alert("Aluno cadastrado com sucesso!");
             }
           })


        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                //alert(id);
                $("#modal").load("Aluno/Details/" + id, function () {
                    $("#modal").modal();
                })
            });
            
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                //alert(id);
                $("#modal").load("Aluno/Delete/" + id, function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}